<!-- {{title}} 
<button (click)="testfn()">Toto</button>
{{user}}
Lire les règles (elle ne sont pas écrites)  -->
<div class="container">
<h1>Bienvenus sur Thomas Card Game</h1>
<p>Ce site à été réalisé dans le cadre de mon projet de fin d'études.</p> 
<!-- <p>Suite a des complications techniques, 
    le jeu auqu'il il permettra de jouer n'est pas fini, ni implémenté sur ce site. Il ne dispose que de fonctionnalités basiques, 
    mais il n'est malheureusement pas utilisable en l'état</p> -->
    <p>Il permet de jouer à un jeu inédit, le TCG, inspiré de JJBA et offrant une nouvelle expérience de jeu.</p>
    <div class="img_container">
        <img src="../../assets/fond_de_jeu.png" alt="Image du terrain" style="width: 100%;">
    </div>
</div>