.container {
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    /* background-color: #f2f2f2; */
  }
  
  h1 {
    color: blue;
  }
  
  p {
    font-size: 16px;
    line-height: 1.5;
    margin-top: 20px;
    width: 60%;
    margin-left: 20%;
  }

  .img_container{
    width: 60%;
    margin-left: 20%;
  }